<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>회원가입</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">프로파일</h1>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input autofocus type="text" name="username" placeholder="아이디" class="input input-bordered"
                           maxlength="50" th:value = "${memberDto.getUsername()}" readonly>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input type="email" name="email" placeholder="이메일" class="input input-bordered" maxlength="50" th:value = "${memberDto.getEmail()}" readonly>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">닉네임</span>
                    </label>
                    <input type="text" name="nickname"
                           placeholder="닉네임" class="input input-bordered" maxlength="50" th:value = "${memberDto.getNickname()}" readonly>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">작가명(선택)</span>
                    </label>
                    <input type="text" name="author"
                           placeholder="입력시 작가활동이 가능합니다." class="input input-bordered" maxlength="50" th:value = "${memberDto.getAuthor()}" readonly>
                </div>
                <div class="grid grid-cols-2 mt-2 gap-2">
                    <a href="/member/modify" class="btn btn-secondary btn-outline">회원정보 수정</a>
                    <a href="/member/modifyPassword" class="btn btn-secondary btn-outline">비밀번호 변경</a>
                </div>

        </div>

    </section>

</main>
</body>
</html>